/*
	@name desktop___9
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 5124px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___9_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 5124px;
}

#_bg__desktop___9_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 5124px;
	background:rgba(3.17,0.41,0.41,1);
}


#image_6 {
	top: 16px;
	left: 40px;
	width: 340px;
	height: 152px;
}


#image_12 {
	top: 4498px;
	left: 787px;
	width: 500px;
	height: 450px;
}


#what_are_you_looking_for_ {
	top: 1062px;
	left: 136px;
	width: 726.6px;
	height: 258.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 96px;
	font-weight: bold;
	text-align: left;
	line-height: 115.49250411987px;
	color:#FFFFFF;
}


#what_risk_are_you_willing_for_ {
	top: 2089px;
	left: 120px;
	width: 924.6px;
	height: 258.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 96px;
	font-weight: bold;
	text-align: left;
	line-height: 115.49250411987px;
	color:#FFFFFF;
}


#slider_illustration_in_modern_style_free_vector_2 {
	top: 2388px;
	left: 214px;
	width: 933px;
	height: 462px;
}


#get_started {
	top: 290px;
	left: 136px;
	width: 529px;
	height: 324px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 120px;
	font-weight: bold;
	text-align: left;
	line-height: 144.36563014984px;
	color:#FFFFFF;
}

#group_4 {
	top: 607px;
	left: 136px;
	width: 272px;
	height: 81px;
}

#_bg__group_4_ek1 {
	top: -607px;
	left: -136px;
	width: 272px;
	height: 81px;
	background:#;
}


#rectangle_5 {
	top: 0px;
	left: 0px;
	width: 272px;
	height: 81px;
}


#start {
	top: 16px;
	left: 85px;
	width: 190.6px;
	height: 35.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	line-height: 43.309689044952px;
	color:#FFFFFF;
}

#group_7 {
	top: 1872px;
	left: 591px;
	width: 272px;
	height: 81px;
}

#_bg__group_7_ek1 {
	top: -1872px;
	left: -591px;
	width: 272px;
	height: 81px;
	background:#;
}


#rectangle_5_ek1 {
	top: 0px;
	left: 0px;
	width: 272px;
	height: 81px;
}


#next {
	top: 16px;
	left: 85px;
	width: 190.6px;
	height: 35.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	line-height: 43.309689044952px;
	color:#FFFFFF;
}

#group_8 {
	top: 2919px;
	left: 594px;
	width: 272px;
	height: 81px;
}

#_bg__group_8_ek1 {
	top: -2919px;
	left: -594px;
	width: 272px;
	height: 81px;
	background:#;
}


#rectangle_5_ek2 {
	top: 0px;
	left: 0px;
	width: 272px;
	height: 81px;
}


#next_ek1 {
	top: 16px;
	left: 85px;
	width: 190.6px;
	height: 35.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	line-height: 43.309689044952px;
	color:#FFFFFF;
}

#group_9 {
	top: 3967px;
	left: 594px;
	width: 272px;
	height: 81px;
}

#_bg__group_9_ek1 {
	top: -3967px;
	left: -594px;
	width: 272px;
	height: 81px;
	background:#;
}


#rectangle_5_ek3 {
	top: 0px;
	left: 0px;
	width: 272px;
	height: 81px;
}


#next_ek2 {
	top: 16px;
	left: 85px;
	width: 190.6px;
	height: 35.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	line-height: 43.309689044952px;
	color:#FFFFFF;
}

#group_10 {
	top: 4984px;
	left: 594px;
	width: 272px;
	height: 81px;
}

#_bg__group_10_ek1 {
	top: -4984px;
	left: -594px;
	width: 272px;
	height: 81px;
	background:#;
}


#rectangle_5_ek4 {
	top: 0px;
	left: 0px;
	width: 272px;
	height: 81px;
}


#done {
	top: 16px;
	left: 85px;
	width: 190.6px;
	height: 35.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	line-height: 43.309689044952px;
	color:#FFFFFF;
}

#group_5 {
	top: 9px;
	left: 1460px;
	width: 116px;
	height: 55px;
}

#_bg__group_5_ek1 {
	top: -9px;
	left: -1460px;
	width: 116px;
	height: 55px;
	background:#;
}


#rectangle_6 {
	top: 0px;
	left: 0px;
	width: 116px;
	height: 55px;
}

#group_4_ek2 {
	top: 37px;
	left: 1182px;
	width: 192px;
	height: 55px;
}

#_bg__group_4_ek3 {
	top: -37px;
	left: -1182px;
	width: 192px;
	height: 55px;
	background:#;
}


#rectangle_6_ek1 {
	top: 0px;
	left: 0px;
	width: 192px;
	height: 55px;
}


#join {
	top: 5px;
	left: 59px;
	width: 149.08px;
	height: 53.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	line-height: 43.309689044952px;
	color:#FFFFFF;
}


#image_7 {
	top: 290px;
	left: 873px;
	width: 450px;
	height: 450px;
}


#image_8 {
	top: 1374px;
	left: 78px;
	width: 420px;
	height: 370px;
}


#image_9 {
	top: 1374px;
	left: 960px;
	width: 420px;
	height: 370px;
}


#image_10 {
	top: 1374px;
	left: 519px;
	width: 420px;
	height: 370px;
}


#short_term {
	top: 1760px;
	left: 174px;
	width: 254.2px;
	height: 69.2px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 32px;
	text-align: left;
	line-height: 38.497501373291px;
	color:#FFFFFF;
}


#newbie {
	top: 4984px;
	left: 326px;
	width: 185.2px;
	height: 69.2px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 32px;
	text-align: left;
	line-height: 38.497501373291px;
	color:#FFFFFF;
}


#veteran {
	top: 4974px;
	left: 973px;
	width: 185.2px;
	height: 69.2px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 32px;
	text-align: left;
	line-height: 38.497501373291px;
	color:#FFFFFF;
}


#medium_term {
	top: 1760px;
	left: 591px;
	width: 254.2px;
	height: 69.2px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 32px;
	text-align: left;
	line-height: 38.497501373291px;
	color:#FFFFFF;
}


#long_term {
	top: 1760px;
	left: 1071px;
	width: 254.2px;
	height: 69.2px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 32px;
	text-align: left;
	line-height: 38.497501373291px;
	color:#FFFFFF;
}

#frame_277 {
	top: 2502px;
	left: 550px;
	width: 100px;
	height: 100px;
}

#_bg__frame_277_ek1 {
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
	background:#;
}


#what_roi_are_you_expecting_for_ {
	top: 3123px;
	left: 118px;
	width: 906.6px;
	height: 258.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 96px;
	font-weight: bold;
	text-align: left;
	line-height: 115.49250411987px;
	color:#FFFFFF;
}


#what_roi_are_you_expecting_for__ek1 {
	top: 3123px;
	left: 118px;
	width: 906.6px;
	height: 258.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 96px;
	font-weight: bold;
	text-align: left;
	line-height: 115.49250411987px;
	color:#FFFFFF;
}


#slider_illustration_in_modern_style_free_vector_3 {
	top: 3422px;
	left: 212px;
	width: 933px;
	height: 462px;
}


#what_is_your_level_of_experience_in_investing_ {
	top: 4106px;
	left: 141px;
	width: 916.6px;
	height: 373.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 96px;
	font-weight: bold;
	text-align: left;
	line-height: 115.49250411987px;
	color:#FFFFFF;
}


#image_11 {
	top: 4487px;
	left: 141px;
	width: 500px;
	height: 450px;
}



/* Add your custom CSS here */
